body {
    background-color: #457b9d;
    background-image: url("super-fancy-interior.png");
}

h1 {
	text-shadow: 0 0 3px #d00000, 0 0 5px #d00000;
	text-align: center;
	background-color: #e4ff1a;
	border-style: solid;
	 font-size: 70px;
	 font-style: italic;
}
	
.center {
    margin: auto;
    width: 40%;
    padding: 10px;
}

h2 {
	text-shadow: 0 0 3px #d00000, 0 0 5px #d00000;
	text-align: center;
	background-color: #e4ff1a;
	border-style: solid;
	 font-size: 50px;
	 font-style: italic;
}
	
img {
	float: center;
    margin: 50px;
	border-style: solid;
}


p {
	color: #000;
	text-align: center;
	background-color: #e4ff1a;
	border-style: solid;
	font-style: oblique;
}
a {
	color: #000;
	background-color: #e4ff1a;
	border-style: solid;
}

/* unvisited link */
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: orange;
}

/* selected link */
a:active {
    color: blue;
